# Dataset
data/policies/html*
data/policies/text*
data/policies/privacy_policies_html
data/policies/privacy_policies_text

# Output of parser
src/scraper/output/

# Archive
archive

# Config Files / Notes
creds.json
notes.txt

# Virtual Environment
venv

# Keys
*.pem

# Text Editors / IDEs
.vscode
.ipynb_checkpoints/

# Metadata / Binaries
*.DS_Store
__pycache__
*.pyc
*.zip
__MACOSX
