# Dataset
data/policies/html*
data/policies/text*
data/policies/privacy_policies_html
data/policies/privacy_policies_text

# Amazon uploader
src/scraper/amazon_upload.py

# Output of parser
src/scraper/output/
src/scraper/err.txt
src/scraper/success.txt

# div testing files
src/scraper/divtest/

# randomized selection of 500 input files
src/scraper/rand_files.txt

# Input for verification of policies
src/verification/policies_ground_truth/*
src/verification/policies_test/*

# Output of statistics scripts
src/statistics/*out*

# Archive
archive

# Config Files / Notes
creds.json
notes.txt

# Virtual Environment
venv

# Keys
*.pem

# Text Editors / IDEs
.vscode
.ipynb_checkpoints/

# Metadata / Binaries
*.DS_Store
__pycache__
*.pyc
*.zip
__MACOSX
